/*/////////////////////////////////////////////////
///////////////    SIMPLE RESET    ///////////////
///////////////////////////////////////////////*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*/////////////////////////////////////////////////
///////////////       LAYOUT       ///////////////
///////////////////////////////////////////////*/

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem;
}

.boxes-container {
  padding: 3rem;
}

.box {
  width: 25%;
  height: 100px;
  padding: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*/////////////////////////////////////////////////
/////////////       POSITIONING      /////////////
///////////////////////////////////////////////*/

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-floats {
  clear: both;
}

/*/////////////////////////////////////////////////
//////////////    HELPER CLASSES    //////////////
///////////////////////////////////////////////*/

.orange-helper {
  background-color: #d45938;
}
.orange-text-helper {
  color: #d45938;
}

.yellow-helper {
  background-color: #f8bc16;
}

.blue-helper {
  background-color: #566882;
}
.blue-text-helper {
  color: #566882;
}

.dark-blue-helper {
  background-color: #191e25;
}

.dark-grey-helper {
  background-color: #24282e;
}

.light-grey-helper {
  background-color: #f9f9f9;
}
.light-grey-text-helper {
  color: #f9f9f9;
}

.center-and-constrain {
  width: 500px;
  margin: 0 auto;
}
